td{
    border: 5px solid rgb(0, 0, 0,0.8);
    height:100px;
    width:100px;
    text-align:center;
    font-size: 65px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    color: #2e9bc9;
}
table{
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -215px;
    top : 50%;
    margin-top: -205px;
}
